<div class="container">
  <div class="row">
    <!--  [image]="image" pasa datos que trae del modelo img
     al componente hijo para que se puedan ver-->
    <ng-image *ngFor="let image of images" [image]="image"></ng-image>
  </div>
</div>
